.cxx
*.iml
.idea
/build
.gradle
gradlew
/captures
.DS_Store
gradlew.bat
local.properties
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
.externalNativeBuild
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/app/gradle/wrapper/gradle-wrapper.jar
/app/gradle/wrapper/gradle-wrapper.properties
okhttp/build